.text-container-animations {
    position: relative;
    margin: 0px 5px 5px 5px;
    animation: translateanimation 3s linear infinite;
}

@keyframes translateanimation {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    5% {
        transform: translateX(-20%);
        opacity: 0;
    }

    20% {
        transform: translateX(0%);
        opacity: 7;
    }

    90% {
        transform: translateX(0%);
        opacity: 7
    }

    95% {
        transform: translate(50%);
        opacity: 0
    }

    100% {
        transform: translate(50%);
        opacity: 0
    }
}


@media (min-width: 0px) {  
    .about-title {
        /* transform: rotate(-90deg); */
        background-color: #f6ad55;
        color: white;
        padding: 4PX;
        display: inline-block;
        /* animation: rotateAbout 3s linear infinite; */
    } 
}

@media (min-width: 1024px) {
    .about-title {
        transform: rotate(-90deg);
        background-color: #f6ad55;
        color: white;
        padding: 4PX;
        animation: rotateAbout 3s linear infinite;
    } 
}




@keyframes rotateAbout {
    0% {
        transform: rotate(-90deg);
    }

    25% {
        transform: rotate(-80deg);
    }

    90% {
        transform: rotate(-100deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}